<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @project.outline %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>

<p>
  <strong>Source:</strong>
  <%= @project.source %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @project.notes %>
</p>
<p>
  <strong>Visibility:</strong>
  <%= t "projects.visibility.#{@project.visibility}" %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
